body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header {
    background-color: #0077B5;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    color: #0077B5;
    font-weight: bold;
}

img {
    max-width: 100px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #000000dd;
}